*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body{
	margin: 0px;
	background-color: #fff;
}
.contenedor{
    width: 100%;
}
#header img{
    width: 10vw;
    height: 5vw;
  
}
#header{
    font-family: sans-serif;
  background: #ffffff;
  background: linear-gradient(90deg, #ffffff 36%, #1cad9d 87%);
  filter: progid:DXImageTransform.Microsof;
  }
#header{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}


.menu_icono, #check{
    display: none;
}
label #hamb img{
  display: none;

}
#menu_horizontal{
  list-style: none;
    display: flex;
    font-size: .8rem;
}
#menu_horizontal>li>a{
display: block;
padding: 10px;
color: white;
text-decoration:none;
}
#menu_horizontal>li:hover>a{
  border-bottom: 2px solid white;
}
#menu_horizontal>li:hover .desplegable{
  display: block;
}
.desplegable{
  display: none;
  list-style: none;
  position: absolute;
  z-index: 1;
}
.desplegable>li>a{
  display:block;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  background:#3cc787db;
  backdrop-filter: blur(3px);
  
}
.desplegable>li:hover>a{
  background: #1cad9f;
  background-repeat: no-repeat;
  border-bottom: 2px solid white;
}
#hero{
    background-image: url(img/habitacion22.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1{
    color: white;
    font-size: 3.2em;
     font-family: Bradley Hand ITC;
}




.logo2{
	width: 100px;
	height: 100px;
	padding-left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contentcajas{
	padding: 20px;
  width: 100%;
  display: flex;
 
}
.habitaciones{
   border-radius: 6px;
    background-color:  #fff;
    display: flex;
    flex-wrap: wrap;
   align-items: center;
}
.img4{
  margin: 40px;
  height:300px;
  width:40%;
  margin-bottom:20px;
     border-radius: 6px;
      box-shadow: 0px 1px 10px #3cc787db;
}
.contenido{
   border-radius: 6px;
  width: 25%;
  height: auto;
  margin: 60px;
  padding: 30px;
  background-color:  #fff;
  font-family:sans-serif;
  line-height: 1.5;
   margin-bottom: 5%;
   box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}
.contenido h2{
  font-family: Bradley Hand ITC;
  color: #3cc787db;
}
.contenido .ubicacion{
  width: 30px;
  height: 30px;
  margin: 15px;
}
.parrafo{
  color:#3cc787db;
  font-weight: 600;
  font-family: Bradley Hand ITC;
  text-align: center;
}

.caja .contenido button:hover{
  background: #1cad9f;
  color: #fff;
}
.hero{
	width: 100%;
	height: 50vh;
    background-size: cover;
    background-position: center;

   
}
.sitios {
  display: flex;
    flex-wrap: wrap;
   align-items: center; 
}

.caja img{
  height:20px;
  width:50%;
  margin-bottom:20px;
}
.caja .contenido p{
  line-height: 1.5;
  color:#6a6a6a;
  margin-bottom: 5%;
}
.caja .contenido h2{
  font-family: Bradley Hand ITC;
    color: #3cc787db;
  margin-bottom: 10px;
  font-weight: 600;
}
.leer{
 width: 100px;
  height: 50px;
 display: inline-block;
 text-align: center;
   text-decoration: none;
  padding: 10px;
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  border: 1px solid ;
  border-radius: 4px;
  transition: all 400ms ease;
  cursor: pointer;
  background-color: #1cad9f ;
}
.leer:hover{
  background: #3cc787db;
  color: #fff;
}
.caja_flexible{
  display: flex;
}
#footer_inicio{
  margin-top: 0vh;
    height: 20vh;
    background-color: #1cad9f;
    color: black;
    justify-content: center;
  }
#footer_inicio>div{
  width: 80%;
  justify-content: flex-end;
    align-items: center;
    justify-content: center;
}
footer{
  display: flex;
    margin-top:3.40vh;
    height: 10vh;
    background-color: white;
    color: black;
    font-family: Bradley Hand ITC;
    justify-content: center;
  }
  footer h3{
    font-family: Bradley Hand ITC;
    color: black;
    font-size: 1.5em;
  }
  footer img{
    height: 8vh;
    padding: 5px ;
  }
  footer nav div{
    justify-content: space-between;
}

.div_footer{
  width: 80%;
  display: flex;
  justify-content: flex-end;
    align-items: center;
    justify-content: center;

}
@media screen and (max-width: 768px) {
    #header{
        top: 0px;
    }
    .li-desplegable{
        display: none;
    }
    details{
        display: block;
    }
    .menu_icono{
        display: flex;
        
        top: 25px;
        left:15px;
        cursor: pointer;
    }
  label #hamb img{
    display: flex;
    align-items: flex-end;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    
    top: 18px;
    left: 18px;
  }
  
  label #hamb{
    display: block;
}
  #nav_menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 72px;
  z-index: 1;
    background: #1cad9f;
    text-align: center;
    transition: all .5s; 
  backdrop-filter: blur(40px);
  }
  
  #check:checked ~ #nav_menu{
    left: 0;
  }
  #check:checked header{
    position: fixed;
  }
  label #hamb img {
     display: block;
  }
  #menu_horizontal {
    flex-direction: column;
    font-size: 1.4rem;
  }
  #menu_horizontal li{
    padding: 0.7em;
  }
  #menu_horizontal>li:hover .desplegable{
    display: none;
  } 
   #header img{
    width: 10vw;
    height: 9vw;
  }
  #hero h1{
    text-align: center;
    color: white;
    font-size: 3.2em;
    font-family: Bradley Hand ITC;
}


    .contentcajas{
  padding: 15px;
  width: 100%;
  display: flex;
 
}
.habitaciones{
   border-radius: 6px;
    background-color:  #fff;
    display: flex;
    flex-wrap: wrap;
   align-items: center;
justify-content: center;
}
.img4{
  margin: 40px;
  height:300px;
  width:50%;
  margin-bottom:20px;
     border-radius: 6px;
      box-shadow: 0px 1px 10px #3cc787db;
}

      .img4:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-10%);

}
.contenido{
   border-radius: 6px;
  width: 65%;
  height: 20%;
  margin: 30px;
  padding: 15px;
  background-color:  #fff;
  font-family:sans-serif;
  line-height: 1.5;
   margin-bottom: 5%;
   box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}
.contenido h2{
  font-family: Bradley Hand ITC;
  color: #3cc787db;
}
.contenido .ubicacion{
  width: 30px;
  height: 25px;
  margin: 15px;
}
.parrafo{
  color:#3cc787db;
  font-weight: 600;
  font-family: Bradley Hand ITC;
  text-align: center;
}

.caja .contenido button:hover{
  background: #1cad9f;
  color: #fff;
}
.hero{
  width: 100%;
  height: 50vh;
    background-size: cover;
    background-position: center;

   
}
.sitios {
  display: flex;
    flex-wrap: wrap;
   align-items: center; 
}

.caja img{
  height:20px;
  width:50%;
  margin-bottom:20px;
}
.caja .contenido p{
  line-height: 1.1;
  color:#6a6a6a;
  margin-bottom: 5%;
}
.caja .contenido h2{
  font-family: Bradley Hand ITC;
    color: #3cc787db;
  margin-bottom: 10px;
  font-weight: 700;
}
.leer{
 width: auto;
  height: auto;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  margin: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  border: 1px solid ;
  border-radius: 4px;
  transition: all 400ms ease;
  cursor: pointer;
  background-color: #1cad9f ;
}
.leer:hover{
  background: #3cc787db;
  color: #fff;
}
.caja_flexible{
  display: flex;
}
#footer_inicio{
  margin-top: 0vh;
    height: 20vh;
    background-color: #1cad9f;
    color: black;
    font-family: lato;
    justify-content: center;
  }
#footer_inicio>div{
  width: 80%;
  justify-content: flex-end;
    align-items: center;
    justify-content: center;
}
footer{
  display: flex;
    margin-top:3.40vh;
    height: 10vh;
    background-color: white;
    color: black;
    font-family: Bradley Hand ITC;
    justify-content: center;
  }
  footer h3{
    font-family: Bradley Hand ITC;
    color: black;
    font-size: 1.5em;
  }
  footer img{
     height: 30px;
    width: 40px;
    height: 8vh;
    padding: 5px ;
  }
  footer nav div{
    justify-content: space-between;
}

.div_footer{
  width: 80%;
  display: flex;
  justify-content: flex-end;
    align-items: center;
    justify-content: center;

}


